.calendar {
    width: 800px;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    font-family: "Satellite", "Roboto", sans-serif;
    border: 1px solid rgba(21, 21, 21, 0.12);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
     -ms-transform: scale(1);
      -o-transform: scale(1);
         transform: scale(1);
    -webkit-box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
       -moz-box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
            box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.calendar.small {
    width: 400px;
    height: 400px;
}

.calendar.medium {
    width: 600px;
    height: 600px;
}

.calendar.large {
    width: 800px;
    height: 800px;
}

.year {
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    padding: 5px;
    font-size: 14px;
}

.year > span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    text-transform: uppercase;
}

.year > div {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
}

.month {
    z-index: 1;
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    padding: 20px 5px;
    font-size: 40px;
    -webkit-box-shadow: 0px 1px 4px rgba(21, 21, 21, 0.12);
       -moz-box-shadow: 0px 1px 4px rgba(21, 21, 21, 0.12);
            box-shadow: 0px 1px 4px rgba(21, 21, 21, 0.12);
}

.month > span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    text-transform: uppercase;
}

.month > div {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
}

.labels {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
}

.labels > span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    font-size: 12px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    padding: 10px;
}

.days {
    background-color: #F6F6F6;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    -webkit-box-shadow: 0px 2px 6px -2px rgba(21, 21, 21, 0.21);
       -moz-box-shadow: 0px 2px 6px -2px rgba(21, 21, 21, 0.21);
            box-shadow: 0px 2px 6px -2px rgba(21, 21, 21, 0.21);
}

.row {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
}

.day {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    padding: 5px;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
    border-bottom: 1px solid rgba(21, 21, 21, .12);
    border-right: 1px solid rgba(21, 21, 21, .12);
    -webkit-transition: box-shadow 200ms ease-in-out;
    -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
    transition: -webkit-box-shadow 200ms ease-in-out;
    -o-transition: box-shadow 200ms ease-in-out;
    -moz-transition: box-shadow 200ms ease-in-out, -moz-box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out, -moz-box-shadow 200ms ease-in-out;
}

.day:last-child {
    border-right: none;
}

.day:hover {
    background-color: rgba(21, 21, 21, 0.012);
    -webkit-box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
       -moz-box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
            box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
}

.day-radios {
    display: none;
}

.day-radios:checked+.day {
    background-color: rgba(21, 21, 21, 0.012);
    -webkit-box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
       -moz-box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
            box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
}

.day > span {
    width: auto;
    height: fit-content;
    font-size: 14px;
    color: rgba(21, 21, 21, 0.84);
}
    .day.today > span {
        padding-bottom: 3px;
        border-bottom: 2px solid;
        border-radius: 1px;
    }

.day.diluted {
    background-color: rgba(21, 21, 21, 0.021);
    -webkit-box-shadow: inset 0px 0px 1px rgba(21, 21, 21, 0.12);
       -moz-box-shadow: inset 0px 0px 1px rgba(21, 21, 21, 0.12);
            box-shadow: inset 0px 0px 1px rgba(21, 21, 21, 0.12);
}

.day.diluted > span {
    width: auto;
    font-size: 10px;
    color: rgba(21, 21, 21, 0.73);
}

.day.active::before {
    content: "";
    position: absolute;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0px 2px 4px rgba(21, 21, 21, 0.21);
       -moz-box-shadow: 0px 2px 4px rgba(21, 21, 21, 0.21);
            box-shadow: 0px 2px 4px rgba(21, 21, 21, 0.21);
}

.calendar.small .day.active::before {
    width: 8px;
    height: 8px;
    top: 7px;
    right: 7px;
}

.calendar.medium .day.active::before {
    width: 18px;
    height: 18px;
    bottom: 10px;
    right: 10px;
}

.calendar.large .day.active::before {
    width: 24px;
    height: 24px;
    bottom: 14px;
    right: 14px;
}

.events {
    width: 800px;
    height: 800px;
    font-family: "Satellite", "Roboto", sans-serif;
    -webkit-box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
       -moz-box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
            box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
    border: 1px solid rgba(21, 21, 21, 0.12);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.events.small {
    width: 400px;
    height: 400px;
}

.events.medium {
    width: 600px;
    height: 600px;
}

.events.large {
    width: 800px;
    height: 800px;
}

.date {
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    padding: 5px;
    font-size: 14px;
}

.date > span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    text-transform: uppercase;
}

.date > div {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
}

.rows {
    background-color: #F6F6F6;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    overflow: hidden !important;
}

.list {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    overflow-y: auto !important;
    padding: 0;
    margin: 0;
    color: rgba(21, 21, 21, 0.94);
}

.list > li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
    border-bottom: 1px solid rgba(21, 21, 21, 0.12);
}

.list > li:hover {
    -webkit-box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
       -moz-box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
            box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
}

.list > li > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
       -moz-box-flex: 2;
            flex: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
    padding: 10px;
    border-right: 1px solid rgba(21, 21, 21, 0.12);
}

.time {
    font-size: 14px;
}

.m {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 5px;
}

.list > li > p {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    -webkit-flex: 4;
       -moz-box-flex: 4;
            flex: 4;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
    font-size: 18px;
    word-wrap: break-word;
    word-break: break-word;
}
